@model PCStoreIdentity.Models.Konfiguracija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Konfiguracija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class ="form-control" asp-items="ViewBag.KorisnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CPUId" class="control-label"></label>
                <select asp-for="CPUId" class ="form-control" asp-items="ViewBag.CPUId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MBId" class="control-label"></label>
                <select asp-for="MBId" class ="form-control" asp-items="ViewBag.MBId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RAMId" class="control-label"></label>
                <select asp-for="RAMId" class ="form-control" asp-items="ViewBag.RAMId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GPUId" class="control-label"></label>
                <select asp-for="GPUId" class ="form-control" asp-items="ViewBag.GPUId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiskId" class="control-label"></label>
                <select asp-for="DiskId" class ="form-control" asp-items="ViewBag.DiskId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KukjisteId" class="control-label"></label>
                <select asp-for="KukjisteId" class ="form-control" asp-items="ViewBag.KukjisteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PSUId" class="control-label"></label>
                <select asp-for="PSUId" class ="form-control" asp-items="ViewBag.PSUId"></select>
            </div>
            <div class="form-group">
                <label asp-for="KulerId" class="control-label"></label>
                <select asp-for="KulerId" class ="form-control" asp-items="ViewBag.KulerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
