@model PCStoreIdentity.Models.Kukjiste

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kukjiste</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFactor" class="control-label"></label>
                <input asp-for="FormFactor" class="form-control" />
                <span asp-validation-for="FormFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlikaUrl" class="control-label"></label>
                <input asp-for="SlikaUrl" class="form-control" />
                <span asp-validation-for="SlikaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailsUrl" class="control-label"></label>
                <input asp-for="DetailsUrl" class="form-control" />
                <span asp-validation-for="DetailsUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
